/* global */
* {
  position: relative;
  box-sizing: border-box;
}
body {
  font-family: 'Questrial';
}
a {
  text-decoration: none;
  color: #010101;
}
.wrapper {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 5%;
}
.site-name {
  font-size: 36px;
  color: #489846;
  display: flex;
  align-items: center;
}
/* navbar */
.navbar {
  box-shadow: -1.4px -1.4px 6px 0 #97a2a0;
}
.navbar .wrapper {
  display: flex;
  justify-content: space-between;
}
.navbar__list {
  list-style: none;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navbar__list__item a {
  text-align: center;
  display: block;
  padding: 14px 25px;
  transition: all 0.3s;
}
.navbar__list__item a:hover,
.navbar__list__item a:active {
  color: white;
  background: #ff7286;
  border-radius: 8px;
}
/* section */
.section {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 40px;
}
.section__title {
  display: inline-block;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 36px;
}
.section__title::before {
  content: '';
  border-left: 15px solid #a3dea2;
  padding-left: 16px;
}
/* faq */
.faqs {
  text-align: left;
  padding: 0 27%;
}
.faq__item {
  border-bottom: 1px solid #a6e2c0;
  padding: 28px 0;
}
.faq__item:hover {
  cursor: pointer;
}
.faq__item__title {
  font-size: 18px;
  font-weight: bold;
}
.faq__item__title .numbering {
  font-size: 24px;
  color: #70b282;
  padding: 0 15px;
}
.faq__item__answer {
  font-size: 16px;
  letter-spacing: 0.14px;
  line-height: 1.5em;
  padding: 24px 20px 17px 68px;
}
.hide-answer .faq__item__answer {
  display: none;
}
/* footer */
.footer__top {
  background-color: #e8efee;
  padding-top: 2%;
  padding-bottom: 2%;
}
.footer__top .wrapper {
  display: flex;
  justify-content: space-between;
}
.footer__top__text {
  color: #484848;
  font-size: 14px;
  line-height: 2em;
}
.footer__top__site {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 40px;
}
.footer__bottom {
  background-color: #35564b;
  color: white;
  font-size: 16px;
  padding: 15px;
  text-align: center;
}
/* media query */
@media (max-width: 768px) {
  /* navbar */
  .navbar .wrapper {
    flex-direction: column;
  }
  .navbar .site-name {
    margin-top: 20px;
    justify-content: center;
  }
  .navbar__list {
    width: 100%;
    padding: 0;
  }
  .navbar__list__item {
    flex: 1;
  }
  /* footer */
  .footer__top .wrapper {
    flex-direction: column;
    align-items: flex-start;
  }
  .footer__top__site {
    align-items: flex-start;
    margin-left: 0;
    margin-top: 28px;
  }
}
